body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Customize Shepherd buttons */
.shepherd-button {
    background: #106dfb;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 9px 23px;
    cursor: pointer;
    font-size: 14px;
    /* transition: background-color 0.3s, color 0.3s; */
}



/* Customize Shepherd tooltips */
.shepherd-tooltip-class-1,
.shepherd-tooltip-class-2 {
    background-color: #3949ab;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    font-size: 14px;
    animation: fadeInUp 0.3s ease-in-out;
}

/* Animation for fading in */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Customize Shepherd elements */
.shepherd-element {
    background: rgb(203 224 231 / 92%);
    margin: 27px !important;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Additional styles for Shepherd header, content, footer */
.shepherd-header {
    font-family: 'ADLaM Display', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    color: #3949ab;
    padding: 10px !important;
}

.shepherd-has-title .shepherd-content .shepherd-header {
    background: rgb(216 235 242 / 62%) !important;
}

.shepherd-arrow:before {
    background: rgb(203 224 231 / 92%) !important;
}

.shepherd-title{
    font-size: 20px;
}
.shepherd-footer {
    text-align: right;
}

.shepherd-text{
    font-family: 'Signika Negative', sans-serif;
    font-size: 17px;
}
/* Customize Shepherd next button */
.shepherd-button-primary {
    background: #106dfb;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 9px 23px;
    cursor: pointer;
    font-size: 14px;
    /* transition: background-color 0.3s, color 0.3s; */
}

/* .shepherd-button-primary:hover {
    background-color: #005de8 !important;
    color: white !important;
} */
.shepherd-button:hover {
    background: #0050c9 !important;
    color: white !important;
}

.shepherd-button.shepherd-button-secondary {
    background: #f1f2f3;
    color: rgba(0,0,0,.75)
}

.shepherd-button.shepherd-button-secondary:hover {
    background: #d6d9db !important;
    color: rgba(0,0,0,.75) !important;
}
.expanded-content {
    margin-top: 5px;
    white-space: pre-wrap;
}

.expand-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.expanded {
    display: block !important;
}
.left {
    background-color: #21201f;
    position: absolute;
    left: 0;
    /* bottom: 0; */
    width: 65%;
    height: 100vh;
    /* Set the height to 100% to fill the available height */
    overflow: hidden;
    display: block;
}

.icon {
    display: inline-flex;
    height: 10vh;
}

.icon>img {
    margin-left: 20px;
    margin-top: 10px;
    height: 50px;
    /* background-color: white; */
}

.h1>.header {
    height: 10px;
    margin: auto;


}

.header {
    margin-left: 10px;
    color: #a9a9a9;
    font-family: "Audiowide", sans-serif;
}



.dialog-box {
    position: fixed;
    width: 330px;
    height: 270px;
    left: 55%;
    top: 75px;
    overflow-x: hidden;
    transform: translateX(-50%);
    /* box-shadow: 0 8px 13px rgba(100, 99, 99, 0.536); */
    padding: 15px;
    z-index: 15;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(61, 59, 59, 0.941);
    color: #f27979;
    border: 2px solid #3c3b38;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.dialog-box::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  .dialog-box::-webkit-scrollbar-track {
    background: rgba(61, 59, 59, 0.941);   /* color of the tracking area */
  }
  
  .dialog-box::-webkit-scrollbar-thumb {
    background-color: rgb(193, 181, 181);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(61, 59, 59, 0.941); /* creates padding around scroll thumb */
  }
.dbox {
    /* top: 0px; */
    border-radius: 6px;
    padding: 18px 26px;
    right: 0;
    margin: 17px;
    height: 30px;
    position: absolute;
    display: inline-block;
    background-color: #d1cfc7;
    font-size: 15px;
    font-family: 'ADLaM Display', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-weight: bold; */
}

.dbox:hover {
    background-color: #bbb8ac;
    cursor: pointer;
}


.editor-container {
    position: relative;
    border: 1px solid #ccc;
    /* Add the border property with desired style and color */
    border-radius: 5px;
}

/* Add this CSS for CodeMirror editor */
.CodeMirror {
    height: 90vh !important;

}

.CodeMirror-gutters {
    /* cursor: pointer; */
    border-right: 0.5px solid #9b9b9b !important
    /* Add the right border to separate line numbers and code */
}


/* Add this CSS for CodeMirror's parent container */
/* This ensures that CodeMirror's parent container also takes up the full viewport height */
.CodeMirror-scroll {
    height: 100%;
}

/* Optionally, if any parent container of .CodeMirror-scroll has a height restriction, remove it */
/* This ensures that all parent elements allow the CodeMirror container to take up the full viewport height */
/* For example, if there's a class .container restricting height, you can override it like this: */
.container {
    height: auto !important;
}

.CodeMirror-vscrollbar {
    overflow-y: hidden !important;
}

.cm-tracepoint-gutter {
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    margin-right: 5px;
}

/* Add the line marker styling */
.line-marker {
    position: absolute;
    border-radius: 50%;
    margin-top: 3px;
    top: 0;
    bottom: 0;
    left: -17px;
    width: 10px;
    height: 10px;
    /* cursor: pointer; */
    background-color: red;
    z-index: 10;

}

.CodeMirror-linenumber {
    /* cursor: pointer; */
    padding-right: 12px;
    /* Add this to center the line numbers */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Update the width of the line numbers section */
    width: 30px;
}

.right {
    /* background: linear-gradient(to bottom right, #ff072e52, #ae22ff47); */
    background: #fff;
    position: absolute;
    right: 0px;
    width: 35%;
    height: 100vh;
    bottom: 0;
}

.gameplay>h2 {
    font-family: 'Lobster', cursive;
    font-size: 5vw;
    text-shadow: 3px 3px 3px #ababab;
    margin-bottom: 25px;
    margin-top: 15vh;
}

/* .gameplay>h3 {
    font-family: 'Handjet', cursive;
    font-size: 1.4vw;
    text-shadow: 1px 1px 1px #ababab;
} */

h2,
h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.2vw;
    font-family: 'Noto Sans TC', sans-serif;

}

h3 {
    font-size: 1rem;
}

.gameplay,
.board,
.outcome,
.newGame {
    text-align: center;
    margin-top: 50px;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.gameplay h3 {
    color: #333;
}

/* .play_as {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
} */

/* .play_as td {
    max-width: 140px;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: auto;
    align-content: center;
    background-color: #f8f6f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

} */

/* .play_as td.selected {
    background-color: #00c853;
    color: white;
} */

/* .play_as td:hover {
    background-color: #b9b9b9;
} */

/* .play_as td h2 {
    color: #333;
} */

.board {
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.board .square {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    /* background-color: #eeb7f94a; */
    background-color: #f3f3f1;
    /* border: 2px solid #960ba4; */
    border: 2px solid #21201f;
    color: #000000;
    transition: background-color 0.3s ease;
}

.board h2{
    font-size: 1.6vw;
}

.board .square:hover {
    background-color: #c6c4b9;
    border: 2px solid #21201f;
    /* background-color: #d973ed4a; */
    /* transform: scale(1.05); */
}

.board .square.disabled {
    cursor: not-allowed;
    background-color: #ccc;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.board .square::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.board .square.x::before {
    background-image: url("x.png");
}

.board .square.o::before {
    background-image: url("o.png");
}

.outcome {
    color: #333;
    margin-top: 20px;
    animation: fadeIn 1s ease;
}

.newGame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 37%; */
    margin: 6vh auto;
    width: 140px;
    /* transform: translateX(-50%); */
    cursor: pointer;
    background-color: #1288b7;
    color: #fff;
    padding: 10px 20px;
    /* display: inline-block; */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    animation: slideIn 1s ease;
}
.newGame:hover {
    background-color: #1833ad;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

