<html>

<head>
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Lugrasimo&family=Poppins:wght@200;400;500&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <!-- Use CDN for CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <!-- Use CDN for CodeMirror JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
    <!-- Use CDN for language mode (e.g., JavaScript) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js"></script>


</head>

<body>
    <div class="left">
        <div class="icon">
            <img src={{ url_for('static', filename='img/coding.png') }} alt="icon" class="img">
            <h1 class="header">Code</h1>
            <div class="button-container">
                <button id="openDialogButton" class="dbox">View Snapshot</button>
                <div class="dialog-box" style="display: none;">
                    <!-- <button id="closeDialogButton" class="close-dbox">Close</button> -->
                </div>
            </div>
        </div>
        <div class="editor-container">
            <textarea id="myEditor"></textarea>
            <div class="cm-tracepoint-gutter"></div>
        </div>
    </div>
    <div class="right">
        <div class="gameplay">
            <h2>Tic Tac Toss-up</h2>
            <h3>To start game click on board to play as 'X' or click on 'Player O' to go second.</h3>
        </div>
        <table class="play_as">
            <tr>
                <td class="player" id="X">
                    <h2>Player X</h2>
                </td>
                <td class="player" id="O">
                    <h2>Player O</h2>
                </td>
            </tr>
        </table>

        <table class="board">
            <tr>
                <td class="square" id="0">
                    <h2></h2>
                </td>
                <td class="square" id="1">
                    <h2></h2>
                </td>
                <td class="square" id="2">
                    <h2></h2>
                </td>
            </tr>
            <tr>
                <td class="square" id="3">
                    <h2></h2>
                </td>
                <td class="square" id="4">
                    <h2></h2>
                </td>
                <td class="square" id="5">
                    <h2></h2>
                </td>
            </tr>
            <tr>
                <td class="square" id="6">
                    <h2></h2>
                </td>
                <td class="square" id="7">
                    <h2></h2>
                </td>
                <td class="square" id="8">
                    <h2></h2>
                </td>
            </tr>
        </table>

        <div class="outcome">
            <h2></h2>
        </div>

        <div class="newGame">
            <h2>New Game</h2>
        </div>
        <!-- <button class="newGame">New Game</button> -->
    </div>


    <script>
        $(document).ready(function () {
            var port = `{{ port }}`;
            var editor = null; // Declare the editor variable globally


            function sendAJAXRequest(port, lineNumber) {
                $.ajax({
                    type: "POST",
                    url: '/tracepoint', // Replace this with your master.py endpoint
                    data: JSON.stringify({ port: port, lineNumber: lineNumber }),
                    contentType: "application/json",
                    success: function (response) {
                        console.log("Request sent successfully!", response);
                    },
                    error: function (xhr, status, err) {
                        console.error(status, err.toString());
                    }
                });
            }


            // Function to make an AJAX request to remove the tracepoint on the server
            function sendRemoveTracepointRequest(port, lineNumber) {
                $.ajax({
                    url: '/removetracepoint',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        port: port,
                        lineNumber: lineNumber
                    }),
                    success: function (data) {
                        // On success, remove the marker from the specified line number in the gutter
                        var cm = editor; // Get the CodeMirror instance
                        cm.setGutterMarker(lineNumber, "tracepoint", null);
                        console.log("Tracepoint removed successfully");
                    },
                    error: function (error) {
                        console.error("Failed to remove tracepoint:", error);
                    }
                });
            }
            // Function to add a tracepoint marker on click
            function addTracepointMarker(lineNumber) {
                var marker = document.createElement("div");
                marker.classList.add("line-marker");
                var cm = editor; // Get the CodeMirror instance
                var gutters = cm.getOption("gutters"); // Get the list of gutters
                var gutterIndex = gutters.indexOf("tracepoint"); // Find the index of the "tracepoint" gutter
                cm.setGutterMarker(lineNumber, "tracepoint", marker, {
                    insertLeft: true
                }); // Add the marker to the specified line number in the gutter
                sendAJAXRequest(port, lineNumber);
            }

            // Function to remove a tracepoint marker on click
            function removeTracepointMarker(lineNumber) {
                var cm = editor; // Get the CodeMirror instance
                var gutters = cm.getOption("gutters"); // Get the list of gutters
                var gutterIndex = gutters.indexOf("tracepoint"); // Find the index of the "tracepoint" gutter
                // sendRemoveTracepointRequest(port, lineNumber);
                cm.setGutterMarker(lineNumber, "tracepoint", null); // Remove the marker from the specified line number in the gutter
                sendRemoveTracepointRequest(port, lineNumber);
            }

            // Event listener to handle clicking on the line number gutter
            function gutterClick(cm, lineNumber, gutterID) {
                console.log("line number", lineNumber, gutterID);
                if (gutterID === "CodeMirror-linenumbers") {
                    var marker = cm.lineInfo(lineNumber).gutterMarkers && cm.lineInfo(lineNumber).gutterMarkers.tracepoint;
                    if (marker) {
                        removeTracepointMarker(lineNumber);
                    }
                    else {
                        addTracepointMarker(lineNumber);
                    }
                }
            }

            function fetchApiCode() {
                $.ajax({
                    type: "GET",
                    url: '{{ server_url }}:{{ port }}/api/js', // Replace with the correct URL to fetch api.js
                    dataType: 'text',
                    success: function (data) {
                        // Create a new CodeMirror instance and set the content of api.js to it
                        editor = CodeMirror.fromTextArea(document.getElementById("myEditor"), {
                            lineNumbers: true,
                            mode: "javascript",
                            theme: "monokai", // Set the theme as desired
                            lineWrapping: true, // Enable line wrapping
                            readOnly: true,
                            // gutters: ["CodeMirror-linenumbers", "tracepoint"] // Add the "tracepoint" gutter
                        });
                        editor.setValue(data); // Set the content of api.js to the CodeMirror editor

                        // Event listener for clicking on the line number gutter
                        editor.on("gutterClick", gutterClick);

                        // Add the "tracepoint" gutter after the editor is fully initialized
                        editor.setOption("gutters", ["CodeMirror-linenumbers", "tracepoint"]);
                    },
                    error: function (xhr, status, err) {
                        console.error(status, err.toString());
                    }
                });
            }

            // Call the function to fetch and display the API code in CodeMirror format
            fetchApiCode();


            var dialogBoxVisible = false;

            $('#openDialogButton').on('click', function () {
                if (dialogBoxVisible) {
                    $('.dialog-box').hide();
                } else {
                    $('.dialog-box').show();
                }
                dialogBoxVisible = !dialogBoxVisible;
            });

            $('#closeDialogButton').on('click', function (event) {
                // Prevent the default behavior of the button, so it doesn't close the dialog
                event.preventDefault();
            });


            var gameBoard = ['', '', '', '', '', '', '', '', ''];
            var gameCounter = 0;
            var gameStatus = 'In Progress'

            $('.square').one('click', gameClick);
            $('.newGame h2').on('click', newGame);
            $('#O').one('click', playerO);

            function playerTurn(count) {
                return count % 2 === 0 ? 'X' : 'O'
            }

            function addToBoard(index) {
                return gameBoard[index] = playerTurn(gameCounter);
            }

            function computerMove() {
                $.ajax({
                    type: "POST",
                    url: '{{ server_url }}:{{ port }}/api/move',
                    data: { board: JSON.stringify(gameBoard) },
                    dataType: 'json',
                    success: function (obj) {
                        var index = obj.nextMove;
                        addToBoard(index);
                        $('#' + index.toString()).find('h2').text(playerTurn(gameCounter));
                        $('#' + index.toString()).unbind('click');
                        gameCounter++;
                        winner();
                    },
                    error: function (xhr, status, err) {
                        console.error(status, err.toString());
                    }
                });
            }

            function winner() {
                $.ajax({
                    type: "POST",
                    url: '{{ server_url }}:{{ port }}/api/winner',
                    data: { board: JSON.stringify(gameBoard) },
                    dataType: 'json',
                    success: function (obj) {
                        gameStatus = obj.winner;
                        if (gameStatus !== 'In Progress') {
                            $('.outcome h2').text(gameStatus);
                        }
                    },
                    error: function (xhr, status, err) {
                        console.error(status, err.toString());
                    }
                });
            }

            function newGame() {
                gameBoard = ['', '', '', '', '', '', '', '', ''];
                gameCounter = 0;
                gameStatus = 'In Progress';
                $('.square').unbind('click').one('click', gameClick);
                $('#O').unbind('click').one('click', playerO);
                $('.square h2').empty();
                $('.outcome h2').empty();
                $('#X').css({ 'background-color': 'lightgreen' });
                $('#O').css({ 'background-color': 'white' });
                return 'new game';
            }

            function gameClick(event) {
                var square = $(event.currentTarget);
                var index = square.attr('id');
                if (gameStatus === 'In Progress') {
                    $('#' + index).find('h2').text(playerTurn(gameCounter));
                    addToBoard(parseInt(index));
                    gameCounter++;
                    $.ajax({
                        type: "POST",
                        url: '{{ server_url }}:{{ port }}/api/winner',
                        data: { board: JSON.stringify(gameBoard) },
                        dataType: 'json',
                        success: function (obj) {
                            gameStatus = obj.winner;
                            if (gameStatus !== 'In Progress') {
                                $('.outcome h2').text(gameStatus);
                            } else {
                                computerMove();
                            }
                        },
                        error: function (xhr, status, err) {
                            console.error(status, err.toString());
                        }
                    });
                    if (gameCounter > 0) {
                        $('#O').off('click', playerO);
                    }
                }
            }

            function playerO(event) {
                $('#X').css({ 'background-color': 'white' });
                $('#O').css({ 'background-color': 'lightgreen' });
                computerMove();
            }

        });
    </script>
</body>

</html>